// Slider
body {
  transition: opacity 0.2s ease;
}
body.not-available {
  opacity: 0.8;
  pointer-events: none;
}
.slider-container {
  background-color: lightcyan;
  height: 160px;
}
.svg-container {
  width: 100%;
}
.wrapper {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
}
.track {
  stroke: #000;
  stroke-opacity: 0.2;
  stroke-width: 2px;
}
.handle {
  fill: lightgrey;
  transition: fill 0.2s ease;
}
.handle.max {
  fill: lightsalmon;
}
.handle:active {
  fill: lightslategray;
}
line.active {
  stroke: #000;
  stroke-opacity: 0.4;
  stroke-width: 2px;
}
.handle-tooltip {
  font-family: Arial;
  font-weight: 500;
  color: #4a4a4a;
}
.tick-tooltip {
  font-family: Arial;
  font-weight: bold;
  transition: 0.4s ease;
  opacity: 0;
}
.tick-tooltip.visible {
  opacity: 1;
}
// Third chart
.no-data {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translateY(-50%) translateX(-50%);
  pointer-events: none;
  font-family: 'Arial';
  transition: opacity 0.3s ease;
  opacity: 0;
}
.no-data.visible {
  opacity: 1;
}
.bar-diagram {
  transition: opacity 0.5s ease;
}
.bar-diagram.hidden {
  opacity: 0;
  pointer-events: none;
}
.bar {
  fill: lightblue;
  transition: fill 0.2s ease;
}
.bar:hover {
  fill: lightslategrey;
}
.line {
  stroke: #FF9900;
  fill: none;
  transition: opacity 0.5s ease;
}
.line:nth-of-type(2) {
  stroke: indianred;
}
.label {
  fill: $light-grey;
  font-size: 12px;
  font-family: 'Arial';
}
.line.hidden {
  opacity: 0;
  pointer-events: none;
}
.line-chart-tooltip {
  border-radius: 5px;
  box-shadow: 0px 0px 3px 0px rgba(0,0,0,0.45);
  margin-bottom: 50px;
  padding: 5px 10px;
  font-family: Arial, sans-serif;
  line-height: 22px;
  display: inline-block;
  position: absolute;
  background: white;
  pointer-events: none;
  opacity: 0;
  transition: opacity 0.5s ease;
  p:nth-of-type(odd) {
    font-weight: 600;
  }
}
.bar-chart-tooltip {
  padding: 6px;
  border-radius: 5px;
  font-family: Arial, sans-serif;
  font-size: 12px;
  background: #add8e6;
  position: absolute;
  strong {
    font-weight: bold;
  }
}
.bar-chart-tooltip:after {
  width: 8px;
  height: 8px;
  background: #add8e6;
  transform-origin: 50% 50%;
  transform: translateX(-50%) translateY(50%) rotate(45deg);
  content: '';
  position: absolute;
  left: 50%;
  bottom: 0;
  display: block;
}
.line-chart-tooltip.visible {
  opacity: 1;
}
.thirdChart {
  position: relative;
}
.legend {
  position: absolute;
  left: 50%;
  top: 100%;
  transform: translateX(-50%);
  border-radius: 5px;
  box-shadow: 0px 0px 3px 0px rgba(0,0,0,0.45);
  margin-bottom: 50px;
  .legend-line {
    cursor: pointer;
    transition: opacity 0.5s ease;
    circle {
      fill: #add8e6;
    }
  }
  .legend-line:nth-of-type(2) {
    circle {
      fill: #FF9900;
    }
  }
  .legend-line:nth-of-type(3) {
    circle {
      fill: indianred;
    }
  }
  .legend-line.less-visible {
    opacity: 0.5;
  }
  .legend-text {
    font-family: Arial, sans-serif;
    font-weight: 500;
    font-size: 16px;
  }
}
// Spinner
.spinner-screen {
  position: fixed;
  width: 100vw;
  height: 100vh;
  z-index: 2;
  background: lightblue;
  .spinner {
    position: absolute;
    top: calc(50% - 25px);
    left: calc(50% - 25px);
    display: block;
    width: 50px;
    height: 50px;
    border: 3px solid rgba(255,255,255,.3);
    border-radius: 50%;
    border-top-color: #fff;
    animation: spin 1s ease-in-out infinite;
    -webkit-animation: spin 1s ease-in-out infinite;
  }
  .spinner-text {
    font-family: Arial;
    font-weight: 600;
    font-size: 24px;
    position: absolute;
    left: 50%;
    top: calc(50% - 50px);
    color: white;
    transform: translateX(-50%) translateY(-50%);
  }
}
@keyframes spin {
  to { -webkit-transform: rotate(360deg); }
}
@-webkit-keyframes spin {
  to { -webkit-transform: rotate(360deg); }
}
// Flight chart
.flightChart {
  position: relative;
}
.state {
  fill: lightgrey;
  stroke-width: 0.5;
  stroke: white;
  transition: fill 0.6s ease;
}
.state.active {
  fill: #fd7000;
}
circle.exit,
circle.airport {
  opacity: 0.5;
}
g.flights,
g.airports {
  position: relative;
  z-index: 1;
}
g.airports {
  z-index: 2;
}
circle.airport {
  fill: black;
  transition: r 0.4s ease;
  cursor: pointer;
}
circle.airport:hover {
  r: 6;
}
line.exit,
line.flight {
  stroke: yellow;
}
div.flight-chart-tooltip,
div.airport-chart-tooltip {
  position: absolute;
  opacity: 0;
  transition: opacity 0.3s ease;
}
div.flight-chart-tooltip,
div.airport-chart-tooltip,
div.airport-chart-tooltip span {
  display: inline-block;
  pointer-events: none;
}
div.flight-chart-tooltip,
div.airport-chart-tooltip span {
  font-family: 'Arial';
  position: relative;
  background: $white;
  border-radius: 4px;
  padding: 5px;
  z-index: 3;
  pointer-events: none;
  box-shadow: 1px 1px 4px 0px rgba(0,0,0,0.75);
}
div.flight-chart-tooltip {
  background: #ff0;
  position: absolute;
  vertical-align: middle;
  font-size: 14px;
}
div.airport-chart-tooltip span p {
  color: $grey;
  z-index: 4;
}
div.flight-chart-tooltip.visible,
div.airport-chart-tooltip.visible {
  opacity: 1;
}
div.airport-chart-tooltip:after,
div.airport-chart-tooltip:before {
  display: block;
  position: absolute;
  content: '';
  left: 50%;
  background: $white;
  bottom: 0;
  transform-origin: 50% 50%;
  transform: translateY(50%) translateX(-50%) rotate(45deg);
  width: 10px;
  height: 10px;
  z-index: 4;
}
div.airport-chart-tooltip:after {
  z-index: 2;
  box-shadow: 1px 1px 4px 0px rgba(0,0,0,0.75);
}
// Controllers
.controllers {
  font-family: Arial;
  color: $black;
  padding: 0 60px;
  h3 {
    font-size: 20px;
    padding: 10px 0;
  }
}
