.slider-container {
  background-color: lightcyan;
  height: 160px;
}
.svg-container {
  width: 100%;
}
.wrapper {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
}
.track {
  stroke: #000;
  stroke-opacity: 0.2;
  stroke-width: 2px;
}
.handle {
  fill: lightgrey;
  transition: fill 0.2s ease;
}
.handle.max {
  fill: lightsalmon;
}
.handle:active {
  fill: lightslategray;
}
line.active {
  stroke: #000;
  stroke-opacity: 0.4;
  stroke-width: 2px;
}
.handle-tooltip {
  font-family: Arial;
  font-weight: 500;
  color: #4a4a4a;
}
.tick-tooltip {
  font-family: Arial;
  font-weight: bold;
  transition: 0.4s ease;
  opacity: 0;
}
.tick-tooltip.visible {
  opacity: 1;
}
