.simple {
  position: relative;
  .back_image {
    display: block;
    position: absolute;
    z-index: 1;
    width: 80%;
    top: 10%;
    left: 50%;
    transform: translateX(-50%) translateY(0%);
    max-width: 300px;
    filter: grayscale(1);
    img {
      width: 100%;
    }
  }
  .wrapper {
    position: relative;
  }
  .pseudo_selector_container {
    border-bottom: 2px solid rgba(0,0,0,0.12);
    z-index: 5;
    position: relative;
    .pseudo_selector__head {
      color: $orange;
      position: relative;
    }
    .pseudo_selector__head.active + .pseudo_selector__body {
      max-height: 150px;
      transition: max-height 0.3s ease-in;
    }
    .pseudo_selector__body {
      top: 58px;
      background: $white;
      will-change: max-height;
    }
  }
  .info_container {
    position: relative;
    z-index: 2;
    padding: 1.7rem 1rem 1.5rem;
    li,
    p {
      font-size: 0.93rem;
      color: $grey;
      line-height: 1.1;
    }
    li {
      list-style: disc;
      list-style-position: inside;
      margin-bottom: 0.3rem;
    }
    ul,
    p {
      margin-bottom: 0.5rem;
    }
    h4 {
      color: $grey;
      font-weight: 500;
      margin-bottom: 0.7rem;
    }
//    p:first-child {
//      margin-bottom: 1.7rem;
//    }
  }
  .simple_section_slider {
    position: relative;
    z-index: 2;
    .item {
      outline: none;
    }
    background: $white;
    margin-right: 1rem;
    width: calc(100% - 1rem);
    border-radius: 3px;
    box-shadow: 0 0 8px 0 rgba(32, 32, 32, 0.12);
    h3 {
      font-size: 1.25rem;
      font-weight: 500;
      color: $grey;
      text-transform: uppercase;
      text-align: right;
      padding: 1.5rem 2.2rem 0 0;
    }
    h3.moto {
      color: $light-grey;
      padding: 0 2.2rem 0 0;
    }
    .image_container {
      padding: 3rem 2rem 2.375rem;
      img {
        width: 100%;
      }
    }
    h4 {
      width: 100%;
      padding: 1.125rem 2.25rem;
      box-sizing: border-box;
      color: $grey;
      display: block;
      border-top: 2px solid rgba(0,0,0,0.12);
      border-bottom: 2px solid rgba(0,0,0,0.12);
      font-weight: 500;
      font-size: 1.25rem;
    }
    .info {
      padding: 2.25rem 2.25rem 3.125rem;
      .info_line {
        max-width: 300px;
        display: flex;
        flex-wrap: nowrap;
        justify-content: space-between;
        align-items: stretch;
        margin: 0.4rem 0;
        .info_line__name {
          font-size: 1.06rem;
          color: $grey;
          line-height: 1;
          padding-right: 1.5rem;
        }
        .info_line__value {
          color: $black;
          font-size: 0.93rem;
          width: 70px;
          display: flex;
          flex-shrink: 0;
          align-items: center;
        }
      }
      .info_line:nth-of-type(4),
      .info_line:nth-of-type(5) {
        display: none;
      }
      .size {
        display: none;
        .info_line:nth-of-type(4),
        .info_line:nth-of-type(5) {
          display: flex;
        } 
      }
    }
  }
  .hint {
    padding: 1.5rem 2rem;
    position: relative;
    p {
      font-size: 0.93rem;
      color: black;
      position: relative;
      z-index: 3;
      opacity: 0.48;
      line-height: 1.1;
    }
    .arrows {
      display: none;
    }
  }
  .hint:after {
    display: block;
    content: '';
    height: 2px;
    position: absolute;
    z-index: 1;
    background: $greyline;
    top: 50%;
    right: 0;
    width: calc(100% - 1rem);
    height: 2px;
    transform: translateY(-3px);
    border-radius: 5px;
  }
}
@media all and (min-width: 760px) {
  .simple {
    .wrapper {
      position: relative;
      border-top: 1px solid transparent;
      border-bottom: 1px solid transparent;
    }
    .pseudo_selector_container {
      margin-top: 12rem;
      margin-left: calc(60% + 1rem);
      border-bottom: 4px solid transparent;
      margin-bottom: 6rem;
      transform: translateX(-5%);
      position: relative;
      .pseudo_selector__head {
        color: $gold;
      }
      .pseudo_selector__head:after {
        right: -5px;
      }
      .pseudo_selector__body {
        top: 68px;
        box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.15);
      }
    }
    .pseudo_selector_container:after {
      position: absolute;
      height: 4px;
      border-radius: 3px;
      background: rgba(232,157,35,0.24);
      bottom: -4px;
      content: '';
      width: 100%;
    }
    .slider_container_with_arrows {
      position: absolute;
      top: 10%;
      left: 0;
      transform: translateX(10%) translateY(2%);
      width: 50%;
      max-width: 640px;
      z-index: 5;
      .arrows {
        display: flex;
        width: 100%;
        justify-content: center;
        position: relative;
        z-index: 2;
        .slick-button {
          width: 72px;
          height: 72px;
          background-image: url(../assets/img/arrow.svg);
          opacity: 0.5;
          cursor: pointer;
          transition: opacity 0.2s ease;
        }
        .slick-button:hover {
          opacity: 0.75;
        }
        .slick-button:active {
          opacity: 1;
        }
        .slick-button.slick-prev {
          transform: rotate(180deg);
        }
      }
    }
    .simple_section_slider {
      margin-right: 0;
      width: 100%;
      .info {
        .size {
          margin-top: 1rem;
          display: block;
        }
      }
    }
    .info_container {
      margin-left: 60%;
      transform: translateX(-5%);
    }
    .hint {
      margin-bottom: 40vw;
      p {
        display: none;
      }
    }
    .hint:after {
      height: 5px;
      top: 35%;
    }
    .back_image {
      max-width: 500px;
      left: 0;
      top: auto;
      bottom: 0;
      transform: translateX(10%) translateY(0%);
    }
  }
}
@media all and (min-width: 900px) {
  .simple {
    .simple_section_slider {
      max-width: 450px;
      h3 {
        text-align: left;
        padding: 1.5rem 0 0 2.2rem;
      }
      h3.moto {
        padding: 0 0 0 2.2rem;
      }
      .image_container {
        img {
          width: 80%;
          margin: 0 auto;
        }
      }
    }
    .hint {
      margin-bottom: 35vw;
    }
    .info_container {
      padding-right: 0;
      transform: none;
    }
    .pseudo_selector_container {
      transform: none;
      .pseudo_selector__head:after {
        right: 10px;
      }
    }
    .arrows {
      max-width: 450px;
    }
  }
}
@media all and (min-width: 950px) {
  .simple {
    .info_container {
      margin-left: 55%;
    }
    .pseudo_selector_container {
      margin-left: calc(55% + 1rem);
    }
  }
}
@media all and (min-width: 1100px) {
  .simple {
    margin-top: -170px;
    .slider_container_with_arrows {
      max-width: 640px;
      width: 40%;
      transform: translateX(20%);
    }
    .simple_section_slider {
      width: 100%;
      max-width: none;
      h3 {
        font-size: 1.5rem;
        padding-top: 3.5rem;
      }
      .image_container {
        img {
          width: 100%;
          max-width: 360px;
        }
      }
    }
    .arrows {
      max-width: 640px;
    }
    .info_container {
      margin-left: 55%;
      max-width: 512px;
    }
    .pseudo_selector_container {
      margin-left: calc(55% + 1rem);
      max-width: 400px;
      margin-top: 17rem;
    }
    .hint {
      margin-bottom: 370px;
      .arrows {
        padding-right: 10%;
        box-sizing: border-box;
      }
    }
  }
  .simple:after {
    left: 10%;
    top: auto;
    bottom: 0;
    transform: translateX(0) translateY(0);
  }
}