.standard {
  position: relative;
  .wrapper {
    position: relative;
    padding-left: 2rem;
  }
  .pseudo_selector_container {
    position: relative;
    background: $white;
    box-shadow: 0 -10px 32px 0 rgba(80, 80, 80, 0.12);
    z-index: 10;
    .pseudo_selector__head {
      color: $orange;
    } 
    .pseudo_selector__body {
      background: $white;
      top: 58px;
    }
    .pseudo_selector__head.active + .pseudo_selector__body {
      max-height: 150px;
      box-shadow: 0 8px 32px 0 rgba(80, 80, 80, 0.12);
    }
  }
  .info_container {
    background: $white;
    position: relative;
    border-top: 2px solid rgba(0,0,0,0.12);
    padding-bottom: 520px;
    li,
    p {
      font-size: 0.93rem;
      color: $grey;
      line-height: 1.1;
    }
    li {
      list-style: disc;
      list-style-position: inside;
      margin-bottom: 0.3rem;
    }
//    > p {
//      padding: 1.5rem 1rem;
//    }
    
    h4 {
      margin: 1.0rem 1rem 0.7rem;
      color: $grey;
      font-weight: 500;
    }
    ul,
    p {
      margin: 0 1rem 0.5rem;
    }
    .moto {
      transform: translateX(-1rem);
      padding: 1.875rem 0;
      background-color: $background-black;
      box-shadow: 0 4px 16px 0 rgba(80, 80, 80, 0.12);
      margin: 1rem 0 0;
      p {
        max-width: 220px;
        margin: 0 auto;
        color: $white;
      }
    }
  }
  .first_container {
    position: relative;
    z-index: 2;
    box-shadow: 0 8px 32px 0 rgba(80, 80, 80, 0.12);
  }
  .standard_section_slider {
    background: $white;
    transform: translateX(-2rem) translateY(-506px);
    z-index: 3;
    position: absolute;
    box-shadow: 0 0 8px 0 rgba(32, 32, 32, 0.12);
    border-radius: 3px;
    width: calc(100% - 2rem);
    .item {
      outline: none;
    }
    h3 {
      font-weight: 500;
      font-size: 1.25rem;
      text-transform: uppercase;
      text-align: right;
      color: $grey;
      padding: 1.5rem 2.2rem 0 0;
    }
    .image_container {
      padding: 3rem 2rem 2.375rem;
      img {
        width: 100%;
      }
    }
    h4 {
      width: 100%;
      padding: 1.125rem 2.25rem;
      box-sizing: border-box;
      color: $grey;
      display: block;
      border-top: 2px solid rgba(0,0,0,0.12);
      border-bottom: 2px solid rgba(0,0,0,0.12);
      font-weight: 500;
      font-size: 1.25rem;
    }
    .info {
      padding: 2.25rem 2.25rem 3.125rem;
      .info_line {
        max-width: 300px;
        display: flex;
        flex-wrap: nowrap;
        justify-content: space-between;
        align-items: stretch;
        margin: 0.4rem 0;
        .info_line__name {
          font-size: 1.06rem;
          color: $grey;
          line-height: 1;
          padding-right: 1.5rem;
        }
        .info_line__value {
          color: $black;
          font-size: 0.93rem;
          width: 70px;
          display: flex;
          flex-shrink: 0;
          align-items: center;
        }
      }
      .info_line:nth-of-type(4),
      .info_line:nth-of-type(5) {
        display: none;
      }
      .size {
        display: none;
        .info_line:nth-of-type(4),
        .info_line:nth-of-type(5) {
          display: flex;
        }
      }
    }
  }
  .hint {
    padding: 1.5rem 2rem;
    position: relative;
    p {
      font-size: 0.93rem;
      color: black;
      position: relative;
      z-index: 3;
      opacity: 0.48;
      line-height: 1.1;
    }
  }
  .hint:after {
    display: block;
    content: '';
    height: 2px;
    position: absolute;
    z-index: 1;
    background: $greyline;
    top: 50%;
    right: 0;
    width: calc(100% - 1rem);
    height: 2px;
    transform: translateY(-3px);
    border-radius: 5px;
  }
  .dummy {
    width: calc(100% - 4rem);
    .dummy_entry {
      padding-top: calc(100px + (100% - 250px) * 0.77);
      width: 100%;
    }
  }
  .arrows {
    display: none;
  }
  .moto_section {
    display: none;
  }
  .back_image {
    display: block;
    position: absolute;
    z-index: 1;
    width: 80%;
    top: 10%;
    left: 50%;
    transform: translateX(-50%) translateY(0%);
    max-width: 300px;
    filter: grayscale(1);
    img {
      width: 100%;
    }
  }
} 
@media all and (min-width: 760px) {
  .standard {
    padding: 0 0 4rem;
    .wrapper {
      position: relative;
      overflow-x: hidden;
      overflow-y: visible;
    }
    .first_container,
    .pseudo_selector_container {
      width: 45%;
      max-width: 330px;
      .pseudo_selector__head {
        border-bottom: 4px solid transparent;
        position: relative;
      }
      .pseudo_selector__head:before {
        position: absolute;
        height: 4px;
        border-radius: 3px;
        background: rgba(232,157,35,.24);
        bottom: -4px;
        content: "";
        width: 100%;
        left: 0;
      }
      .pseudo_selector__head:after {
        right: 25px;
      }
      .pseudo_selector__body {
        top: 68px;
      }
    }
    .standard_section_slider {
      width: 85%;
      position: absolute;
      right: 0;
//      top: 488px;
      top: auto;
      bottom: 0;
      max-width: 660px;
      transform: translateX(-5%) translateY(-72px);
      .item {
        display: flex;
        flex-wrap: wrap;
      }
      h3 {
        width: 100%;
        display: none;
      }
      h4 {
        border: none;
        padding-top: 2rem;
      }
      .image_container {
        width: 50%;
        box-sizing: border-box;
        order: 3;
        padding: 0 2rem 2rem 1rem;
        display: flex;
        align-items: center;
      }
      .info {
        width: 50%;
        padding: 2rem;
        box-sizing: border-box;
        min-height: 260px;
        .size {
          display: block;
        }
      }
    }
    .info_container {
      padding-top: 1rem;
      padding-bottom: 420px;
      border-top: none;
      .moto {
        margin-bottom: 1rem;
      }
    }
    .dummy {
      display: none;
    }
    .moto_section {
      display: block;
      text-align: right;
      font-size: 1.5rem;
      font-weight: 500;
      color: $grey;
      width: 45%;
      position: absolute;
      right: 2rem;;
      top: 8rem;
      h4 {
        color: $light-grey;
      }
    }
    .arrows {
      display: flex;
      width: 85%;
      right: -5%;
      max-width: 660px;
      justify-content: center;
      position: absolute;
      transform: translateY(-75px) translateX(-5%);
      z-index: 2;
      .slick-button {
        width: 72px;
        height: 72px;
        background-image: url(../assets/img/arrow.svg);
        opacity: 0.5;
        cursor: pointer;
        transition: opacity 0.2s ease;
      }
      .slick-button:hover {
        opacity: 0.75;
      }
      .slick-button:active {
        opacity: 1;
      }
      .slick-button.slick-prev {
        transform: rotate(180deg);
      }
    }
    .hint {
      display: none;
    }
    .back_image {
      top: 0;
      left: auto;
      right: 0;
      transform: translateY(10%) translateX(-10%);
      max-width: 400px;
    }
  }
}
//@media all and (min-width: 769px) {
//  .standard {
//    .standard_section_slider {
//      top: 473px;
//    }
//  }
//}
//@media all and (min-width: 769px) {
//  .standard {
//    .standard_section_slider {
//      top: 473px;
//    }
//  }
//}
@media all and (min-width: 900px) {
  .standard {
    .pseudo_selector_container {
      width: 470px;
      max-width: none;
      padding: 1rem 3rem 0;
      box-sizing: border-box;
      box-shadow: 0 -12px 32px 0 rgba(80, 80, 80, 0.08);
      .pseudo_selector__body {
        width: calc(100% - 6rem);
        top: 84px;
      }
    }
    .first_container {
      max-width: none;
      width: 470px;
    }
    .info_container {
      padding-bottom: 490px;
      h4 {
        margin: 1rem 2rem;
      } 
      ul,
      p {
        margin: 0 2rem 0.5rem;
      }
//      p {
//        padding: 1rem 3rem;
//      }
      .moto {
        background: none;
        box-shadow: none;
        transform: none;
        margin: 0;
        padding: 0;
        p {
          font-size: 1.25rem;
          color: lightgrey;
          max-width: 315px;
          margin-left: 0;
        }
      }
      
    }
    .arrows {
      z-index: 5;
      width: 750px;
      max-width: none;
      transform: translateY(-72px) translateX(12%);
    }
    .standard_section_slider {
      width: 750px;
      max-width: none;
//      top: 340px;
      .info {
        padding: 1rem 2rem 3rem 3rem;
      }
      .image_container {
        padding: 0rem 1rem 3rem 1rem;
      }
      h4 {
        padding: 3rem 3rem 1rem;
      }
    }
    .back_image {
      transform: translateY(10%) translateX(-35%);
    }
  }
}
@media all and (min-width: 1000px) {
  .standard {
    .arrows {
      left: auto;
      transform: translateY(-72px);
      right: 1px;
    }
  }
}
@media all and (min-width: 1200px) {
  .standard {
    margin-top: 30px;
    .arrows {
      width: 60%;
    }
    .pseudo_selector_container {
      width: 560px;
      padding-top: 7rem;
      padding-right: 5rem;
      .pseudo_selector__body {
        width: 432px;
        top: calc(68px + 7rem);
      }
    }
    .first_container {
      width: 560px;
    }
    .info_container {
      padding-bottom: 250px;
      h4 {
        margin: 1.5rem 0 1.5rem 3rem;
      }
      ul,
      p {
        padding-right: 10rem;
        margin-left: 3rem;
      }
//      padding-bottom: calc((((((100vw - 4rem) * 0.6) / 2) - 5rem) * 0.66) - 0.5rem + 2px);
//      p {
//        padding: 3.5rem 12rem 3.5rem 3rem;
//      }
    }
    .standard_section_slider {
      width: 60%;
    }
  }
}
@media all and (min-width: 1300px) {
  .standard {
    .standard_section_slider {
      width: 65%;
      h4 {
        padding: 4.3rem 4.3rem 1rem 4.3rem; 
      }
      .image_container {
        padding: 1rem 4.3rem 4.3rem 1rem;
        margin-top: -2rem;
      }
      .info {
        padding: 1rem 1rem 4.3rem 4.3rem; 
      }
    }
    .arrows {
      width: 65%;
    }
    .info_container {
      padding-bottom: calc((((((100vw - 4rem) * 0.65) / 2) - 5.3rem) * 0.66) + 2.5rem);
    }
  }
}
@media all and (min-width: 1460px) {
  .standard {
    .info_container {
      padding-bottom: 282px;
    }
  }
}