.top-section {
  padding: 1rem 0 1rem 1rem;
  border-bottom: 2px solid rgba(0, 0, 0, 0.12);
  .wrapper {
    position: relative;
  }
  header {
    display: flex;
    flex-wrap: nowrap;
    width: auto;
    z-index: 5;
    align-items: stretch;
    padding: 1rem 0 0 1rem;
    box-sizing: border-box;
//    top: -0.6rem;
//    left: -0.7rem;
    .icon {
      width: 67px;
      flex-shrink: 0;
      img {
        width: 100%;
      }
    }
    .thumblers {
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: flex-start;
      padding: 1.25rem 0 0 2.25rem;
      box-sizing: border-box;
      .thumbler {
        font-size: 1.1rem;
        color: $grey;
        font-weight: 300;
        text-transform: uppercase;
        cursor: pointer;
        margin-bottom: 0.25rem;
      }
    }
  }
  .container {
    background: $white;
    box-shadow: 0 0 32px 0 rgba(80, 80, 80, 0.12);
    position: relative;
    h1 {
      margin-top: 1rem;
      font-size: 1.5rem;
      line-height: 1.6;
      padding: 0 0.5rem;
      font-weight: bold;
      color: $grey;
      text-align: center;
      span {
        color: $orange;
        padding-bottom: 0.5rem;
        display: block;
      }
    }
  }
  .back_image {
    display: block;
    position: absolute;
    z-index: 1;
    width: 80%;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    max-width: 300px;
    filter: grayscale(1);
    img {
      width: 100%;
    }
  }
  .top_section__slider {
    position: relative;
    z-index: 2;
    margin-top: 3.5rem;
    .slide {
      display: flex;
      justify-content: center;
      outline: none;
      flex-wrap: wrap;
      img {
        width: 190px;
        height: 151px;
        display: flex;
        margin: 1.2rem 0 1rem;
      }
      p {
        color: $grey;
        width: 100%;
        text-transform: uppercase;
        font-size: 1.1rem;
        font-weight: 500;
        text-align: center;
      }
    }
  }
  .dots_container {
    position: relative;
    z-index: 2;
    padding: 1rem 0 1.8rem;
    display: flex;
    justify-content: flex-end;
    .dots {
      display: flex;
      width: 100%;
      justify-content: center;
      li {
        height: 0.5rem;
        width: 0.5rem;
        margin: 0 0.125rem;
        button {
          border-radius: 50%;
          border: none;
          outline: none;
          font-size: 0;
          display: block;
          width: 100%;
          height: 100%;
          box-sizing: border-box;
          padding: 0;
          background-color: $light-grey;
          opacity: 0.24;
          transition: opacity 0.5s ease;
        }
      }
      .slick-active {
        button {
          opacity: 1;
        }
      }
    }
  }
  .icons_flex {
    padding: 1rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    position: relative;
    z-index: 2;
    .item {
      width: 110px;
      text-align: center;
      margin-top: 2rem;
      img {
        width: 40px;
      }
      p {
        margin: 1rem auto 0.5rem;
        font-size: 0.87rem;
        max-width: 70px;
        
      }
    }
//    display: none;
  }
  .top_section__static {
    display: none;
  }
}
@media all and (min-width: 350px) {
  .top-section {
    .container {
      h1 {
        font-size: 1.8rem;
      }
    }
    .icons_flex {
      .item {
        width: 40%;
        p {
          width: 100%;
          max-width: none;
          margin-left: 0px;
          margin-right: 0px;
        }
      }
    }
  }
}
@media all and (min-width: 365px) {
  .top-section {
    .container {
      h1 {
        font-size: 2rem;
      }
    }
  }
}
@media all and (min-width: 600px) {
  .top-section {
    .icons_flex {
      padding-bottom: 4rem;
      .item {
        width: 25%;
        margin-top: 0;
        p {
          width: 100%;
          max-width: none;
          margin-left: 0px;
          margin-right: 0px;
        }
        img {
          width: 70px;
        }
      }
    }
    .top_section__static {
      display: flex;
      position: relative;
      z-index: 2;
      flex-wrap: nowrap;
      justify-content: space-around;
      width: 100%;
      max-width: 916px;
      margin: 0 auto;
      padding: 4rem 1rem;
      box-sizing: border-box;
      .item {
        width: 100%;
        display: flex;
        flex-wrap: nowrap;
        flex-direction: column;
        max-width: 195px;
        margin: 0 1rem;
        img {
          width: 100%;
        }
        p {
          width: 100%;
          text-align: center;
          color: $grey;
          text-transform: uppercase;
          font-weight: 500;
          margin-bottom: 2rem;
        }
      }
    }
    .dots_container,
    .top_section__slider {
      display: none;
    }
    .back_image {
      max-width: 450px;
    }
  }
}
@media all and (min-width: 760px) {
  .top-section {
    padding: 2rem 2.5rem 0;
    border-bottom: 1px solid transparent;
    .wrapper {
      padding: 0;
    }
    header {
      position: absolute;
      top: 2rem;
      left: 2rem;
      width: auto;
      .icon {
        width: 96px;
      }
      .thumblers {
        padding: 0 0 5.6rem 3.4rem;
        justify-content: center;
        .thumbler {
          font-size: 1.25rem;
          font-weight: 500;
        }
      }
    }
    .container {
      padding-top: 3rem;
      padding-bottom: 3rem;
      h1 {
        font-size: 2.5rem;
        padding-left: 4rem;
        
      }
      .back_image {
        max-width: 500px;
      }
    }
    .icons_flex {
      width: 90%;
      max-width: 1000px;
      margin: 0 auto;
      display: flex;
      flex-wrap: nowrap;
      justify-content: space-around;
      padding: 2rem 0 4rem;
      .item {
        display: flex;
        flex-direction: column;
        align-items: center;
        img {
          width: 80px;
        }
        p {
          font-weight: 500;
          color: $grey;
          font-size: 0.9rem;
          margin-top: 1.5rem; 
        }
      }
    }
    .top_section__static {
      padding: 5rem 1rem;
    }
  }
}
@media all and (min-width: 990px) {
  .top-section {
    padding: 3rem 2.5rem 0;
    header {
        top: 2.5rem;
        left: 2.5rem;
        padding: 0;
        .thumblers {
          padding: 0 0 3.6rem 3rem;
          .thumbler {
            line-height: 1.1;
          }
        }
      }
    .container {
      padding-top: 2.5rem;
      padding-bottom: 2rem;
      h1 {
        padding-left: 3.8rem;
        font-size: 2rem;
      }
      .back_image {
        max-width: 500px;
      }
    }
    .icons_flex {
      padding: 1.5rem 0 0;
    }
    .top_section__static {
      padding: 2.5rem 0;
    }
  }
}
@media all and (min-width: 1100px) {
  .top-section {
    padding: 7rem 2.5rem 0;
    header {
      .icon {
        width: 96px;
      }
      .thumblers {
        padding: 0 0 5.6rem 3.4rem;
        .thumbler {
          line-height: 1;
        }
      }
    }
    .container {
      padding-top: 4.8rem;
      padding-bottom: 7rem;
      h1 {
        font-size: 2.2rem;
        padding-left: 0;
      }
      .back_image {
        max-width: 500px;
      }
    }
    .top_section__static {
      padding: 4rem 0;
    }
    .icons_flex {
      padding: 3rem 0;
    }
  }
}