<section class="contacts">
  <div class="wrapper">
    <h2>Contacts</h2>
    <section class="main_part">
      <div class="selector_part">
        <div class="pseudo_selector_container">
          <div class="pseudo_selector__head">
            <p>GEORGIA</p>
          </div>
          <div class="pseudo_selector__body">
            <div class="item">UKRAINE</div>
            <div class="item">GEORGIA</div>
          </div>
        </div>
        <div class="selector_part__body">
          <div class="item">
            <p>City:</p>
            <p>Tbilisi</p>
          </div>
          <div class="item">
            <p>Address:</p>
            <p>Kakheti Highway, 3</p>
          </div>
          <div class="item">
            <p>Phone:</p>
            <p><a href="tel:+995322749525">+995 32 274 95 25</a></p>
          </div>
          <div class="item">
            <p>Email:</p>
            <p><a href="mailto:batt@iwg.ge">batt@iwg.ge</a></p>
          </div>
        </div>
      </div>
      <div class="form_part">
        <h4>ASK A QUESTION</h4>
        <form action="" id="contactForm">
          <input name="name" id="name" type="text" placeholder="Name">
          <input name="email" id="email" type="email" placeholder="Email">
          <textarea name="message" placeholder="Message" id="" cols="30" rows="1"></textarea>
          <div class="submit_area">
            <input id="submitButton" class="submit" type="submit" value="Submit">
          </div>
        </form>
      </div>
    </section>
    <div class="back_image">
      <img src="assets/img/lightning_logo.svg" alt="Logo BATT">
    </div>
  </div>
  <footer>
    <img src="assets/img/batt_logo_new.svg" alt="BATT">
  </footer>
</section>