<section class="simple">
  <div class="wrapper">
    <div class="back_image">
      <img src="assets/img/lightning_logo.svg" alt="Logo BATT">
    </div>
    <div class="pseudo_selector_container">
      <div class="pseudo_selector__head">
        <p>Choose amperage</p>
      </div>
      <div class="pseudo_selector__body">
        <div class="item">6CT-45 A3</div>
<!--
        <div class="item">6CT-55 A3</div>
        <div class="item">6CT-60 A3</div>
        <div class="item">6CT-66 A3</div>
        <div class="item">6CT-77 A3</div>
        <div class="item">6CT-90 A3</div>
-->
        <div class="item">6CT-100 A3</div>
<!--        <div class="item">6CT-140 A3</div>-->
        <div class="item">6CT-190 A3</div>
<!--
        <div class="item">6CT-225 A3</div>
        <div class="item">6CT-45 A JIS</div>
-->
<!--        <div class="item">6CT-70 A JIS</div>-->
<!--        <div class="item">6CT-100 A JIS</div>-->
      </div>
    </div>
    <div class="info_container">
      <h4>The BATT simple</h4>
      <p>BATT Simple model lineup offers a wide range of SLI batteries for the auto owners highly rating the quality product with with an excellent value.</p>
      <p>What is unique about BATT Simple, is that it is designed to be robust, highly-reliable and offer outstanding value for reasonable price.</p>
      <p>Simple, robust and durable</p>
      <ul>
        <li>Engineered according to the European standards and OE specifications</li>
        <li>Subjected to over 200 tests for reliability and performance</li>
        <li>Full-framed short resistant power plates deliver efficient starting power</li>
        <li>Reinforced internal components</li>
        <li>Reduced water consumption</li>
        <li>Quick recharge</li>
        <li>Resists vibration and bumps damage</li>
        <li>Heavy-duty polypropylene case and cover</li>
      </ul>
      <p>BATT Simple - maximum starting capacity in all circumstances.</p>
      <p>BATT, Quality you can trust!</p>
<!--
      <p>Made with precision, in Ukraine, for European auto owners.</p>
      <p>An automotive battery is a rechargeable battery that supplies electrical energy to a motor vehicle. It is also known as an SLI battery (starting-lighting-ignition) and its main purpose is to start the engine. Once the engine is running, power for the car’s electrical systems is supplied by the alternator. Typically, starting discharges less than three per cent of the battery capacity. </p>
-->
    </div>
    <div class="slider_container_with_arrows">
      <div class="simple_section_slider battery_slider">
        <div class="item">
          <h3>The batt simple</h3>
          <h3 class="moto">or simply the batt</h3>
          <div class="image_container">
            <img src="assets/img/6CT-45-А3.png" alt="Batt 6CT-45-A3">
          </div>
          <h4>6CT-45 A3</h4>
          <div class="info">
            <div class="info_line">
              <div class="info_line__name">Capacity</div>
              <div class="info_line__value">45 A/h</div>
            </div>
            <div class="info_line">
              <div class="info_line__name">Cold Cranking Amps</div>
              <div class="info_line__value">390 A</div>
            </div>
            <div class="info_line">
              <div class="info_line__name">Voltage</div>
              <div class="info_line__value">12 V</div>
            </div>
            <div class="info_line">
              <div class="info_line__name">Reserve Capacity</div>
              <div class="info_line__value">100 min</div>
            </div>
            <div class="info_line">
              <div class="info_line__name">Polarity</div>
              <div class="info_line__value">+</div>
            </div>
            <div class="size">
              <div class="info_line">
                <div class="info_line__name">Weight</div>
                <div class="info_line__value">11.6 Kg</div>
              </div>
              <div class="info_line">
                <div class="info_line__name">Length</div>
                <div class="info_line__value">234 mm</div>
              </div>
              <div class="info_line">
                <div class="info_line__name">Width</div>
                <div class="info_line__value">127 mm</div>
              </div>
              <div class="info_line">
                <div class="info_line__name">Height</div>
                <div class="info_line__value">220 mm</div>
              </div>
            </div>
          </div>
        </div>
<!--
        <div class="item">
          <h3>The batt simple</h3>
          <h3 class="moto">or simply the batt</h3>
          <div class="image_container">
            <img src="assets/img/batt.svg" alt="Batt">
          </div>
          <h4>6CT-55 A3</h4>
          <div class="info">
            <div class="info_line">
              <div class="info_line__name">Capacity</div>
              <div class="info_line__value">55 A/h</div>
            </div>
            <div class="info_line">
              <div class="info_line__name">Cold Cranking Amps</div>
              <div class="info_line__value">450 A</div>
            </div>
            <div class="info_line">
              <div class="info_line__name">Voltage</div>
              <div class="info_line__value">12 V</div>
            </div>
            <div class="info_line">
              <div class="info_line__name">Reserve Capacity</div>
              <div class="info_line__value">90 min</div>
            </div>
            <div class="info_line">
              <div class="info_line__name">Polarity</div>
              <div class="info_line__value">+</div>
            </div>
            <div class="size">
              <div class="info_line">
                <div class="info_line__name">Weight</div>
                <div class="info_line__value">11.6 Kg</div>
              </div>
              <div class="info_line">
                <div class="info_line__name">Length</div>
                <div class="info_line__value">242 mm</div>
              </div>
              <div class="info_line">
                <div class="info_line__name">Width</div>
                <div class="info_line__value">175 mm</div>
              </div>
              <div class="info_line">
                <div class="info_line__name">Height</div>
                <div class="info_line__value">190 mm</div>
              </div>
            </div>
          </div>
        </div>
        <div class="item">
          <h3>The batt simple</h3>
          <h3 class="moto">or simply the batt</h3>
          <div class="image_container">
            <img src="assets/img/batt.svg" alt="Batt">
          </div>
          <h4>6CT-60 A3</h4>
          <div class="info">
            <div class="info_line">
              <div class="info_line__name">Capacity</div>
              <div class="info_line__value">60 A/h</div>
            </div>
            <div class="info_line">
              <div class="info_line__name">Cold Cranking Amps</div>
              <div class="info_line__value">480 A</div>
            </div>
            <div class="info_line">
              <div class="info_line__name">Voltage</div>
              <div class="info_line__value">12 V</div>
            </div>
            <div class="info_line">
              <div class="info_line__name">Reserve Capacity</div>
              <div class="info_line__value">100 min</div>
            </div>
            <div class="info_line">
              <div class="info_line__name">Polarity</div>
              <div class="info_line__value">+</div>
            </div>
            <div class="size">
              <div class="info_line">
                <div class="info_line__name">Weight</div>
                <div class="info_line__value">17.5 Kg</div>
              </div>
              <div class="info_line">
                <div class="info_line__name">Length</div>
                <div class="info_line__value">242 mm</div>
              </div>
              <div class="info_line">
                <div class="info_line__name">Width</div>
                <div class="info_line__value">175 mm</div>
              </div>
              <div class="info_line">
                <div class="info_line__name">Height</div>
                <div class="info_line__value">190 mm</div>
              </div>
            </div>
          </div>
        </div>
        <div class="item">
          <h3>The batt simple</h3>
          <h3 class="moto">or simply the batt</h3>
          <div class="image_container">
            <img src="assets/img/batt.svg" alt="Batt">
          </div>
          <h4>6CT-66 A3</h4>
          <div class="info">
            <div class="info_line">
              <div class="info_line__name">Capacity</div>
              <div class="info_line__value">66 A/h</div>
            </div>
            <div class="info_line">
              <div class="info_line__name">Cold Cranking Amps</div>
              <div class="info_line__value">580 A</div>
            </div>
            <div class="info_line">
              <div class="info_line__name">Voltage</div>
              <div class="info_line__value">12 V</div>
            </div>
            <div class="info_line">
              <div class="info_line__name">Reserve Capacity</div>
              <div class="info_line__value">110 min</div>
            </div>
            <div class="info_line">
              <div class="info_line__name">Polarity</div>
              <div class="info_line__value">+</div>
            </div>
            <div class="size">
              <div class="info_line">
                <div class="info_line__name">Weight</div>
                <div class="info_line__value">22.9 Kg</div>
              </div>
              <div class="info_line">
                <div class="info_line__name">Length</div>
                <div class="info_line__value">276 mm</div>
              </div>
              <div class="info_line">
                <div class="info_line__name">Width</div>
                <div class="info_line__value">175 mm</div>
              </div>
              <div class="info_line">
                <div class="info_line__name">Height</div>
                <div class="info_line__value">190 mm</div>
              </div>
            </div>
          </div>
        </div>
        <div class="item">
          <h3>The batt simple</h3>
          <h3 class="moto">or simply the batt</h3>
          <div class="image_container">
            <img src="assets/img/batt.svg" alt="Batt">
          </div>
          <h4>6CT-77 A3</h4>
          <div class="info">
            <div class="info_line">
              <div class="info_line__name">Capacity</div>
              <div class="info_line__value">77 A/h</div>
            </div>
            <div class="info_line">
              <div class="info_line__name">Cold Cranking Amps</div>
              <div class="info_line__value">640 A</div>
            </div>
            <div class="info_line">
              <div class="info_line__name">Voltage</div>
              <div class="info_line__value">12 V</div>
            </div>
            <div class="info_line">
              <div class="info_line__name">Reserve Capacity</div>
              <div class="info_line__value">135 min</div>
            </div>
            <div class="info_line">
              <div class="info_line__name">Polarity</div>
              <div class="info_line__value">+</div>
            </div>
            <div class="size">
              <div class="info_line">
                <div class="info_line__name">Weight</div>
                <div class="info_line__value">14.5 Kg</div>
              </div>
              <div class="info_line">
                <div class="info_line__name">Length</div>
                <div class="info_line__value">276 mm</div>
              </div>
              <div class="info_line">
                <div class="info_line__name">Width</div>
                <div class="info_line__value">175 mm</div>
              </div>
              <div class="info_line">
                <div class="info_line__name">Height</div>
                <div class="info_line__value">190 mm</div>
              </div>
            </div>
          </div>
        </div>
        <div class="item">
          <h3>The batt simple</h3>
          <h3 class="moto">or simply the batt</h3>
          <div class="image_container">
            <img src="assets/img/batt.svg" alt="Batt">
          </div>
          <h4>6CT-90 A3</h4>
          <div class="info">
            <div class="info_line">
              <div class="info_line__name">Capacity</div>
              <div class="info_line__value">90 A/h</div>
            </div>
            <div class="info_line">
              <div class="info_line__name">Cold Cranking Amps</div>
              <div class="info_line__value">740 A</div>
            </div>
            <div class="info_line">
              <div class="info_line__name">Voltage</div>
              <div class="info_line__value">12 V</div>
            </div>
            <div class="info_line">
              <div class="info_line__name">Reserve Capacity</div>
              <div class="info_line__value">160 min</div>
            </div>
            <div class="info_line">
              <div class="info_line__name">Polarity</div>
              <div class="info_line__value">+</div>
            </div>
            <div class="size">
              <div class="info_line">
                <div class="info_line__name">Weight</div>
                <div class="info_line__value">15.2 Kg</div>
              </div>
              <div class="info_line">
                <div class="info_line__name">Length</div>
                <div class="info_line__value">353 mm</div>
              </div>
              <div class="info_line">
                <div class="info_line__name">Width</div>
                <div class="info_line__value">175 mm</div>
              </div>
              <div class="info_line">
                <div class="info_line__name">Height</div>
                <div class="info_line__value">190 mm</div>
              </div>
            </div>
          </div>
        </div>
-->
        <div class="item">
          <h3>The batt simple</h3>
          <h3 class="moto">or simply the batt</h3>
          <div class="image_container">
            <img src="assets/img/6CT-100-А3.png" alt="Batt 6CT-100-A3">
          </div>
          <h4>6CT-100 A3</h4>
          <div class="info">
            <div class="info_line">
              <div class="info_line__name">Capacity</div>
              <div class="info_line__value">100 A/h</div>
            </div>
            <div class="info_line">
              <div class="info_line__name">Cold Cranking Amps</div>
              <div class="info_line__value">740 A</div>
            </div>
            <div class="info_line">
              <div class="info_line__name">Voltage</div>
              <div class="info_line__value">12 V</div>
            </div>
            <div class="info_line">
              <div class="info_line__name">Reserve Capacity</div>
              <div class="info_line__value">170 min</div>
            </div>
            <div class="info_line">
              <div class="info_line__name">Polarity</div>
              <div class="info_line__value">+</div>
            </div>
            <div class="size">
              <div class="info_line">
                <div class="info_line__name">Weight</div>
                <div class="info_line__value">22.9 Kg</div>
              </div>
              <div class="info_line">
                <div class="info_line__name">Length</div>
                <div class="info_line__value">353 mm</div>
              </div>
              <div class="info_line">
                <div class="info_line__name">Width</div>
                <div class="info_line__value">175 mm</div>
              </div>
              <div class="info_line">
                <div class="info_line__name">Height</div>
                <div class="info_line__value">190 mm</div>
              </div>
            </div>
          </div>
        </div>
<!--
        <div class="item">
          <h3>The batt simple</h3>
          <h3 class="moto">or simply the batt</h3>
          <div class="image_container">
            <img src="../assets/img/batt.svg" alt="Batt">
          </div>
          <h4>6CT-140 A3</h4>
          <div class="info">
            <div class="info_line">
              <div class="info_line__name">Capacity</div>
              <div class="info_line__value">140 A/h</div>
            </div>
            <div class="info_line">
              <div class="info_line__name">Cold Cranking Amps</div>
              <div class="info_line__value">900 A</div>
            </div>
            <div class="info_line">
              <div class="info_line__name">Voltage</div>
              <div class="info_line__value">12 V</div>
            </div>
            <div class="info_line">
              <div class="info_line__name">Reserve Capacity</div>
              <div class="info_line__value">270 min</div>
            </div>
            <div class="info_line">
              <div class="info_line__name">Polarity</div>
              <div class="info_line__value">+</div>
            </div>
            <div class="size">
              <div class="info_line">
                <div class="info_line__name">Weight</div>
                <div class="info_line__value">18.3 Kg</div>
              </div>
              <div class="info_line">
                <div class="info_line__name">Length</div>
                <div class="info_line__value">513 mm</div>
              </div>
              <div class="info_line">
                <div class="info_line__name">Width</div>
                <div class="info_line__value">189 mm</div>
              </div>
              <div class="info_line">
                <div class="info_line__name">Height</div>
                <div class="info_line__value">217 mm</div>
              </div>
            </div>
          </div>
        </div>
-->
        <div class="item">
          <h3>The batt simple</h3>
          <h3 class="moto">or simply the batt</h3>
          <div class="image_container">
            <img src="assets/img/6CT-190-A3.png" alt="Batt 6CT-190 A3">
          </div>
          <h4>6CT-190 A3</h4>
          <div class="info">
            <div class="info_line">
              <div class="info_line__name">Capacity</div>
              <div class="info_line__value">190 A/h</div>
            </div>
            <div class="info_line">
              <div class="info_line__name">Cold Cranking Amps</div>
              <div class="info_line__value">1250 A</div>
            </div>
            <div class="info_line">
              <div class="info_line__name">Voltage</div>
              <div class="info_line__value">12 V</div>
            </div>
            <div class="info_line">
              <div class="info_line__name">Reserve Capacity</div>
              <div class="info_line__value">400 min</div>
            </div>
            <div class="info_line">
              <div class="info_line__name">Polarity</div>
              <div class="info_line__value">+</div>
            </div>
            <div class="size">
              <div class="info_line">
                <div class="info_line__name">Weight</div>
                <div class="info_line__value">49.0 Kg</div>
              </div>
              <div class="info_line">
                <div class="info_line__name">Length</div>
                <div class="info_line__value">513 mm</div>
              </div>
              <div class="info_line">
                <div class="info_line__name">Width</div>
                <div class="info_line__value">223 mm</div>
              </div>
              <div class="info_line">
                <div class="info_line__name">Height</div>
                <div class="info_line__value">217 mm</div>
              </div>
            </div>
          </div>
        </div>
<!--
        <div class="item">
          <h3>The batt simple</h3>
          <h3 class="moto">or simply the batt</h3>
          <div class="image_container">
            <img src="assets/img/batt.svg" alt="Batt">
          </div>
          <h4>6CT-225 АЗ</h4>
          <div class="info">
            <div class="info_line">
              <div class="info_line__name">Capacity</div>
              <div class="info_line__value">225 A/h</div>
            </div>
            <div class="info_line">
              <div class="info_line__name">Cold Cranking Amps</div>
              <div class="info_line__value">1500 A</div>
            </div>
            <div class="info_line">
              <div class="info_line__name">Voltage</div>
              <div class="info_line__value">12 V</div>
            </div>
            <div class="info_line">
              <div class="info_line__name">Reserve Capacity</div>
              <div class="info_line__value">460 min</div>
            </div>
            <div class="info_line">
              <div class="info_line__name">Polarity</div>
              <div class="info_line__value">+</div>
            </div>
            <div class="size">
              <div class="info_line">
                <div class="info_line__name">Weight</div>
                <div class="info_line__value">24.0 Kg</div>
              </div>
              <div class="info_line">
                <div class="info_line__name">Length</div>
                <div class="info_line__value">518 mm</div>
              </div>
              <div class="info_line">
                <div class="info_line__name">Width</div>
                <div class="info_line__value">274 mm</div>
              </div>
              <div class="info_line">
                <div class="info_line__name">Height</div>
                <div class="info_line__value">237 mm</div>
              </div>
            </div>
          </div>
        </div>
        <div class="item">
          <h3>The batt simple</h3>
          <h3 class="moto">or simply the batt</h3>
          <div class="image_container">
            <img src="assets/img/6CT-45-А-JIS.png" alt="Batt 6CT-45 А JIS">
          </div>
          <h4>6CT-45 A JIS</h4>
          <div class="info">
            <div class="info_line">
              <div class="info_line__name">Capacity</div>
              <div class="info_line__value">45 A/h</div>
            </div>
            <div class="info_line">
              <div class="info_line__name">Cold Cranking Amps</div>
              <div class="info_line__value">390 A</div>
            </div>
            <div class="info_line">
              <div class="info_line__name">Voltage</div>
              <div class="info_line__value">12 V</div>
            </div>
            <div class="info_line">
              <div class="info_line__name">Reserve Capacity</div>
              <div class="info_line__value">100 min</div>
            </div>
            <div class="info_line">
              <div class="info_line__name">Polarity</div>
              <div class="info_line__value">+</div>
            </div>
            <div class="size">
              <div class="info_line">
                <div class="info_line__name">Weight</div>
                <div class="info_line__value">37.3 Kg</div>
              </div>
              <div class="info_line">
                <div class="info_line__name">Length</div>
                <div class="info_line__value">234 mm</div>
              </div>
              <div class="info_line">
                <div class="info_line__name">Width</div>
                <div class="info_line__value">127 mm</div>
              </div>
              <div class="info_line">
                <div class="info_line__name">Height</div>
                <div class="info_line__value">220 mm</div>
              </div>
            </div>
          </div>
        </div>
        <div class="item">
          <h3>The batt simple</h3>
          <h3 class="moto">or simply the batt</h3>
          <div class="image_container">
            <img src="assets/img/batt.svg" alt="Batt">
          </div>
          <h4>6CT-70 А JIS</h4>
          <div class="info">
            <div class="info_line">
              <div class="info_line__name">Capacity</div>
              <div class="info_line__value">70 A/h</div>
            </div>
            <div class="info_line">
              <div class="info_line__name">Cold Cranking Amps</div>
              <div class="info_line__value">600 A</div>
            </div>
            <div class="info_line">
              <div class="info_line__name">Voltage</div>
              <div class="info_line__value">12 V</div>
            </div>
            <div class="info_line">
              <div class="info_line__name">Reserve Capacity</div>
              <div class="info_line__value">120 min</div>
            </div>
            <div class="info_line">
              <div class="info_line__name">Polarity</div>
              <div class="info_line__value">+</div>
            </div>
            <div class="size">
              <div class="info_line">
                <div class="info_line__name">Weight</div>
                <div class="info_line__value">49.0 Kg</div>
              </div>
              <div class="info_line">
                <div class="info_line__name">Length</div>
                <div class="info_line__value">259 mm</div>
              </div>
              <div class="info_line">
                <div class="info_line__name">Width</div>
                <div class="info_line__value">175 mm</div>
              </div>
              <div class="info_line">
                <div class="info_line__name">Height</div>
                <div class="info_line__value">220 mm</div>
              </div>
            </div>
          </div>
        </div>
        <div class="item">
          <h3>The batt simple</h3>
          <h3 class="moto">or simply the batt</h3>
          <div class="image_container">
            <img src="assets/img/6CT-100-А-JIS.png" alt="Batt 6CT-100 А JIS">
          </div>
          <h4>6CT-100 A JIS</h4>
          <div class="info">
            <div class="info_line">
              <div class="info_line__name">Capacity</div>
              <div class="info_line__value">100 A/h</div>
            </div>
            <div class="info_line">
              <div class="info_line__name">Cold Cranking Amps</div>
              <div class="info_line__value">740 A</div>
            </div>
            <div class="info_line">
              <div class="info_line__name">Voltage</div>
              <div class="info_line__value">12 V</div>
            </div>
            <div class="info_line">
              <div class="info_line__name">Reserve Capacity</div>
              <div class="info_line__value">170 min</div>
            </div>
            <div class="info_line">
              <div class="info_line__name">Polarity</div>
              <div class="info_line__value">+</div>
            </div>
            <div class="size">
              <div class="info_line">
                <div class="info_line__name">Weight</div>
                <div class="info_line__value">60.4 Kg</div>
              </div>
              <div class="info_line">
                <div class="info_line__name">Length</div>
                <div class="info_line__value">302 mm</div>
              </div>
              <div class="info_line">
                <div class="info_line__name">Width</div>
                <div class="info_line__value">172 mm</div>
              </div>
              <div class="info_line">
                <div class="info_line__name">Height</div>
                <div class="info_line__value">223 mm</div>
              </div>
            </div>
          </div>
        </div>
-->
      </div>
      <div class="arrows"></div>
    </div>
    <div class="hint">
      <p>Swipe cards for next</p>
    </div>
  </div>
</section>
