<section class="standard">
  <div class="wrapper">
    <div class="pseudo_selector_container">
        <div class="pseudo_selector__head">
          <p>Choose amperage</p>
        </div>
        <div class="pseudo_selector__body">
          <div class="item">6CT-60 A3</div>
<!--          <div class="item">6CT-66 A3</div>-->
          <div class="item">6CT-75 A3</div>
          <div class="item">6CT-100 A3</div>
<!--
          <div class="item">6CT-140 A3</div>
          <div class="item">6CT-190 A3</div>
          <div class="item">6CT-225 A3</div>
          <div class="item">6CT-45 A JIS</div>
          <div class="item">6CT-70 A JIS</div>
          <div class="item">6CT-100 A JIS</div>
-->
        </div>
      </div>
    <div class="first_container">
      <div class="info_container">
<!--
        <div class="moto">
          <p>Made with precision in Ukraine, for European auto owners.</p>
        </div>
-->
        <h4>The BATT Standard</h4>
        <p>BATT Standard offers advanced starting capacity and a high cyclic durability for any type of a vehicle in any circumstances and all weather conditions. With BATT Standart you are sure your vehicle will start in every occasion you turn the key.</p>
        <ul>
          <li>Quality materials, extremely durable components</li>
          <li>Engineered according to the European standards and OE specifications</li>
          <li>Subjected to over 250 tests for reliability and performance</li>
          <li>Full-framed thickened short resistant power plates deliver efficient starting power</li>
          <li>Vibration and bumps resistance</li>
        </ul>
        <p>BATT Standard - the new quality level.</p>
      </div>
    </div>
    <div class="arrows"></div>
    <div class="standard_section_slider battery_slider">
      <div class="item">
        <h3>The batt standard</h3>
        <div class="image_container">
          <img src="assets/img/6СТ-60-АЗ.png" alt="Batt 6СТ-60 АЗ">
        </div>
        <h4>6CT-60 A3</h4>
        <div class="info">
          <div class="info_line">
            <div class="info_line__name">Capacity</div>
            <div class="info_line__value">60 A/h</div>
          </div>
          <div class="info_line">
            <div class="info_line__name">Cold Cranking Amps</div>
            <div class="info_line__value">540 A</div>
          </div>
          <div class="info_line">
            <div class="info_line__name">Voltage</div>
            <div class="info_line__value">12 V</div>
          </div>
          <div class="info_line">
            <div class="info_line__name">Reserve Capacity</div>
            <div class="info_line__value">100 min</div>
          </div>
          <div class="info_line">
            <div class="info_line__name">Polarity</div>
            <div class="info_line__value">+</div>
          </div>
          <div class="size">
            <div class="info_line">
              <div class="info_line__name">Weight</div>
              <div class="info_line__value">15.4 Kg</div>
            </div>
            <div class="info_line">
              <div class="info_line__name">Length</div>
              <div class="info_line__value">242 mm</div>
            </div>
            <div class="info_line">
              <div class="info_line__name">Width</div>
              <div class="info_line__value">175 mm</div>
            </div>
            <div class="info_line">
              <div class="info_line__name">Height</div>
              <div class="info_line__value">190 mm</div>
            </div>
          </div>
        </div>
      </div>
<!--
      <div class="item">
        <h3>The batt standard</h3>
        <div class="image_container">
          <img src="assets/img/batt.svg" alt="Batt">
        </div>
        <h4>6CT-66 A3</h4>
        <div class="info">
          <div class="info_line">
            <div class="info_line__name">Capacity</div>
            <div class="info_line__value">66 A/h</div>
          </div>
          <div class="info_line">
            <div class="info_line__name">Cold Cranking Amps</div>
            <div class="info_line__value">600 A</div>
          </div>
          <div class="info_line">
            <div class="info_line__name">Voltage</div>
            <div class="info_line__value">12 V</div>
          </div>
          <div class="info_line">
            <div class="info_line__name">Reserve Capacity</div>
            <div class="info_line__value">110 min</div>
          </div>
          <div class="info_line">
            <div class="info_line__name">Polarity</div>
            <div class="info_line__value">+</div>
          </div>
          <div class="size">
            <div class="info_line">
              <div class="info_line__name">Weight</div>
              <div class="info_line__value">19.0 Kg</div>
            </div>
            <div class="info_line">
              <div class="info_line__name">Length</div>
              <div class="info_line__value">276 mm</div>
            </div>
            <div class="info_line">
              <div class="info_line__name">Width</div>
              <div class="info_line__value">175 mm</div>
            </div>
            <div class="info_line">
              <div class="info_line__name">Height</div>
              <div class="info_line__value">190 mm</div>
            </div>
          </div>
        </div>
      </div>
-->
      <div class="item">
        <h3>The batt standard</h3>
        <div class="image_container">
          <img src="assets/img/6СТ-75-АЗ.png" alt="Batt 6СТ-75 АЗ">
        </div>
        <h4>6CT-75 A3</h4>
        <div class="info">
          <div class="info_line">
            <div class="info_line__name">Capacity</div>
            <div class="info_line__value">75 A/h</div>
          </div>
          <div class="info_line">
            <div class="info_line__name">Cold Cranking Amps</div>
            <div class="info_line__value">640 A</div>
          </div>
          <div class="info_line">
            <div class="info_line__name">Voltage</div>
            <div class="info_line__value">12 V</div>
          </div>
          <div class="info_line">
            <div class="info_line__name">Reserve Capacity</div>
            <div class="info_line__value">130 min</div>
          </div>
          <div class="info_line">
            <div class="info_line__name">Polarity</div>
            <div class="info_line__value">+</div>
          </div>
          <div class="size">
            <div class="info_line">
              <div class="info_line__name">Weight</div>
              <div class="info_line__value">18.9 Kg</div>
            </div>
            <div class="info_line">
              <div class="info_line__name">Length</div>
              <div class="info_line__value">276 mm</div>
            </div>
            <div class="info_line">
              <div class="info_line__name">Width</div>
              <div class="info_line__value">175 mm</div>
            </div>
            <div class="info_line">
              <div class="info_line__name">Height</div>
              <div class="info_line__value">190 mm</div>
            </div>
          </div>
        </div>
      </div>
      <div class="item">
        <h3>The batt standard</h3>
        <div class="image_container">
          <img src="assets/img/6СТ-100-АЗ.png" alt="Batt 6СТ-100 АЗ">
        </div>
        <h4>6CT-100 A3</h4>
        <div class="info">
          <div class="info_line">
            <div class="info_line__name">Capacity</div>
            <div class="info_line__value">100 A/h</div>
          </div>
          <div class="info_line">
            <div class="info_line__name">Cold Cranking Amps</div>
            <div class="info_line__value">800 A</div>
          </div>
          <div class="info_line">
            <div class="info_line__name">Voltage</div>
            <div class="info_line__value">12 V</div>
          </div>
          <div class="info_line">
            <div class="info_line__name">Reserve Capacity</div>
            <div class="info_line__value">180 min</div>
          </div>
          <div class="info_line">
            <div class="info_line__name">Polarity</div>
            <div class="info_line__value">+</div>
          </div>
          <div class="size">
            <div class="info_line">
              <div class="info_line__name">Weight</div>
              <div class="info_line__value">24.0 Kg</div>
            </div>
            <div class="info_line">
              <div class="info_line__name">Length</div>
              <div class="info_line__value">353 mm</div>
            </div>
            <div class="info_line">
              <div class="info_line__name">Width</div>
              <div class="info_line__value">175 mm</div>
            </div>
            <div class="info_line">
              <div class="info_line__name">Height</div>
              <div class="info_line__value">190 mm</div>
            </div>
          </div>
        </div>
      </div>
<!--
      <div class="item">
        <h3>The batt standard</h3>
        <div class="image_container">
          <img src="assets/img/batt.svg" alt="Batt">
        </div>
        <h4>6CT-140 A3</h4>
        <div class="info">
          <div class="info_line">
            <div class="info_line__name">Capacity</div>
            <div class="info_line__value">140 A/h</div>
          </div>
          <div class="info_line">
            <div class="info_line__name">Cold Cranking Amps</div>
            <div class="info_line__value">900 A</div>
          </div>
          <div class="info_line">
            <div class="info_line__name">Voltage</div>
            <div class="info_line__value">12 V</div>
          </div>
          <div class="info_line">
            <div class="info_line__name">Reserve Capacity</div>
            <div class="info_line__value">270 min</div>
          </div>
          <div class="info_line">
            <div class="info_line__name">Polarity</div>
            <div class="info_line__value">+</div>
          </div>
          <div class="size">
            <div class="info_line">
              <div class="info_line__name">Weight</div>
              <div class="info_line__value">18.3 Kg</div>
            </div>
            <div class="info_line">
              <div class="info_line__name">Length</div>
              <div class="info_line__value">513 mm</div>
            </div>
            <div class="info_line">
              <div class="info_line__name">Width</div>
              <div class="info_line__value">189 mm</div>
            </div>
            <div class="info_line">
              <div class="info_line__name">Height</div>
              <div class="info_line__value">217 mm</div>
            </div>
          </div>
        </div>
      </div>
      <div class="item">
        <h3>The batt standard</h3>
        <div class="image_container">
          <img src="assets/img/batt.svg" alt="Batt">
        </div>
        <h4>6CT-190 A3</h4>
        <div class="info">
          <div class="info_line">
            <div class="info_line__name">Capacity</div>
            <div class="info_line__value">190 A/h</div>
          </div>
          <div class="info_line">
            <div class="info_line__name">Cold Cranking Amps</div>
            <div class="info_line__value">1250 A</div>
          </div>
          <div class="info_line">
            <div class="info_line__name">Voltage</div>
            <div class="info_line__value">12 V</div>
          </div>
          <div class="info_line">
            <div class="info_line__name">Reserve Capacity</div>
            <div class="info_line__value">385 min</div>
          </div>
          <div class="info_line">
            <div class="info_line__name">Polarity</div>
            <div class="info_line__value">+</div>
          </div>
          <div class="size">
            <div class="info_line">
              <div class="info_line__name">Weight</div>
              <div class="info_line__value">18.9 Kg</div>
            </div>
            <div class="info_line">
              <div class="info_line__name">Length</div>
              <div class="info_line__value">513 mm</div>
            </div>
            <div class="info_line">
              <div class="info_line__name">Width</div>
              <div class="info_line__value">223 mm</div>
            </div>
            <div class="info_line">
              <div class="info_line__name">Height</div>
              <div class="info_line__value">217 mm</div>
            </div>
          </div>
        </div>
      </div>
      <div class="item">
        <h3>The batt standard</h3>
        <div class="image_container">
          <img src="assets/img/batt.svg" alt="Batt">
        </div>
        <h4>6CT-225 A3</h4>
        <div class="info">
          <div class="info_line">
            <div class="info_line__name">Capacity</div>
            <div class="info_line__value">225 A/h</div>
          </div>
          <div class="info_line">
            <div class="info_line__name">Cold Cranking Amps</div>
            <div class="info_line__value">1500 A</div>
          </div>
          <div class="info_line">
            <div class="info_line__name">Voltage</div>
            <div class="info_line__value">12 V</div>
          </div>
          <div class="info_line">
            <div class="info_line__name">Reserve Capacity</div>
            <div class="info_line__value">460 min</div>
          </div>
          <div class="info_line">
            <div class="info_line__name">Polarity</div>
            <div class="info_line__value">+</div>
          </div>
          <div class="size">
            <div class="info_line">
              <div class="info_line__name">Weight</div>
              <div class="info_line__value">24.0 Kg</div>
            </div>
            <div class="info_line">
              <div class="info_line__name">Length</div>
              <div class="info_line__value">518 mm</div>
            </div>
            <div class="info_line">
              <div class="info_line__name">Width</div>
              <div class="info_line__value">274 mm</div>
            </div>
            <div class="info_line">
              <div class="info_line__name">Height</div>
              <div class="info_line__value">237 mm</div>
            </div>
          </div>
        </div>
      </div>
      <div class="item">
        <h3>The batt standard</h3>
        <div class="image_container">
          <img src="assets/img/batt.svg" alt="Batt">
        </div>
        <h4>6CT-45 A JIS</h4>
        <div class="info">
          <div class="info_line">
            <div class="info_line__name">Capacity</div>
            <div class="info_line__value">45 A/h</div>
          </div>
          <div class="info_line">
            <div class="info_line__name">Cold Cranking Amps</div>
            <div class="info_line__value">390 A</div>
          </div>
          <div class="info_line">
            <div class="info_line__name">Voltage</div>
            <div class="info_line__value">12 V</div>
          </div>
          <div class="info_line">
            <div class="info_line__name">Reserve Capacity</div>
            <div class="info_line__value">70 min</div>
          </div>
          <div class="info_line">
            <div class="info_line__name">Polarity</div>
            <div class="info_line__value">+</div>
          </div>
          <div class="size">
            <div class="info_line">
              <div class="info_line__name">Weight</div>
              <div class="info_line__value">37.3 Kg</div>
            </div>
            <div class="info_line">
              <div class="info_line__name">Length</div>
              <div class="info_line__value">234 mm</div>
            </div>
            <div class="info_line">
              <div class="info_line__name">Width</div>
              <div class="info_line__value">127 mm</div>
            </div>
            <div class="info_line">
              <div class="info_line__name">Height</div>
              <div class="info_line__value">220 mm</div>
            </div>
          </div>
        </div>
      </div>
      <div class="item">
        <h3>The batt standard</h3>
        <div class="image_container">
          <img src="assets/img/batt.svg" alt="Batt">
        </div>
        <h4>6CT-70 A JIS</h4>
        <div class="info">
          <div class="info_line">
            <div class="info_line__name">Capacity</div>
            <div class="info_line__value">70 A/h</div>
          </div>
          <div class="info_line">
            <div class="info_line__name">Cold Cranking Amps</div>
            <div class="info_line__value">600 A</div>
          </div>
          <div class="info_line">
            <div class="info_line__name">Voltage</div>
            <div class="info_line__value">12 V</div>
          </div>
          <div class="info_line">
            <div class="info_line__name">Reserve Capacity</div>
            <div class="info_line__value">120 min</div>
          </div>
          <div class="info_line">
            <div class="info_line__name">Polarity</div>
            <div class="info_line__value">+</div>
          </div>
          <div class="size">
            <div class="info_line">
              <div class="info_line__name">Weight</div>
              <div class="info_line__value">49.0 Kg</div>
            </div>
            <div class="info_line">
              <div class="info_line__name">Length</div>
              <div class="info_line__value">259 mm</div>
            </div>
            <div class="info_line">
              <div class="info_line__name">Width</div>
              <div class="info_line__value">175 mm</div>
            </div>
            <div class="info_line">
              <div class="info_line__name">Height</div>
              <div class="info_line__value">220 mm</div>
            </div>
          </div>
        </div>
      </div>
      <div class="item">
        <h3>The batt standard</h3>
        <div class="image_container">
          <img src="assets/img/batt.svg" alt="Batt">
        </div>
        <h4>6CT-100 A JIS</h4>
        <div class="info">
          <div class="info_line">
            <div class="info_line__name">Capacity</div>
            <div class="info_line__value">100 A/h</div>
          </div>
          <div class="info_line">
            <div class="info_line__name">Cold Cranking Amps</div>
            <div class="info_line__value">780 A</div>
          </div>
          <div class="info_line">
            <div class="info_line__name">Voltage</div>
            <div class="info_line__value">12 V</div>
          </div>
          <div class="info_line">
            <div class="info_line__name">Reserve Capacity</div>
            <div class="info_line__value">170 min</div>
          </div>
          <div class="info_line">
            <div class="info_line__name">Polarity</div>
            <div class="info_line__value">+</div>
          </div>
          <div class="size">
            <div class="info_line">
              <div class="info_line__name">Weight</div>
              <div class="info_line__value">60.4 Kg</div>
            </div>
            <div class="info_line">
              <div class="info_line__name">Length</div>
              <div class="info_line__value">302 mm</div>
            </div>
            <div class="info_line">
              <div class="info_line__name">Width</div>
              <div class="info_line__value">172 mm</div>
            </div>
            <div class="info_line">
              <div class="info_line__name">Height</div>
              <div class="info_line__value">223 mm</div>
            </div>
          </div>
        </div>
      </div>
-->
    </div>
    <div class="dummy">
      <div class="dummy_entry"></div>
    </div>
    <div class="hint">
      <p>Swipe cards for next</p>
    </div>
    <div class="moto_section">
      <h3>THE BATT STANDARD</h3>
      <h4>STRONG BATTERY FOR ALL VEHICLE TYPES</h4>
    </div>
    <div class="back_image">
      <img src="assets/img/lightning_logo.svg" alt="Logo BATT">
    </div>
  </div>
</section>