<section class="top-section">
  <div class="wrapper">
    <div class="container">
      <header>
        <div class="icon">
          <img src="assets/img/batt_logo_new.svg" alt="BATT">
        </div>
  <!--
        <div class="thumblers">
          <div class="thumbler">simple</div>
          <div class="thumbler">standard</div>
          <div class="thumbler">premium</div>
        </div>
  -->
      </header>
      <div class="back_image">
        <img src="assets/img/lightning_logo.svg" alt="Logo BATT">
      </div>
      <h1><span>THE BATT</span>HEAVY DUTY<br>STARTING BATTERY<br>FOR YOUR VEHICLE.</h1>
      <div class="top_section__static">
        <div class="item">
          <p>Simple</p>
          <img src="assets/img/6CT-100-А3.png" alt="Simple">
        </div>
        <div class="item">
          <p>Standard</p>
          <img src="assets/img/6СТ-75-АЗ.png" alt="Standard">
        </div>
<!--
        <div class="item">
          <p>Premium</p>
          <img src="assets/img/batt.svg" alt="Premium">
        </div>
-->
      </div>
      <div class="icons_flex">
        <div class="item">
          <img src="assets/img/icon_1_dark.svg" alt="">
          <p>Long exploitation</p>
        </div>
        <div class="item">
          <img src="assets/img/icon_2_dark.svg" alt="High capacity">
          <p>High capacity</p>
        </div>
        <div class="item">
          <img src="assets/img/icon_3_dark.svg" alt="Precise engineering">
          <p>Precise engineering </p>
        </div>
        <div class="item">
          <img src="assets/img/icon_4_dark.svg" alt="Wide variety">
          <p>Wide variety</p>
        </div>
      </div>
      <div class="top_section__slider">
        <div class="slide">
          <p>Simple</p>
          <img src="assets/img/6CT-100-А3.png" alt="Simple">
        </div>
        <div class="slide">
          <p>Standard</p>
          <img src="assets/img/6СТ-75-АЗ.png" alt="Standard">
        </div>
<!--
        <div class="slide">
          <p>Premium</p>
          <img src="assets/img/batt.svg" alt="Premium">
        </div>
-->
      </div>
      <div class="dots_container"></div>
    </div>
  </div>
</section>
